<h1><%= @task.name %></h1>

<p>Done: <%= @task.done %></p>

<p><a href="/tasks/<%= @task.id %>/edit">Edit</a></p>
<p><a href="/tasks/<%= @task.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<p><a href="/tasks">Return to Task listing</a></p>
